*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f4f4f4;
  --text-color: #333;
  --font-family: "Arial", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
}

a {
  all: unset;
  cursor: pointer;
}

button {
  all: unset;
  background-color: #2ecc71;
  padding-inline: 0.8rem;
  padding-block: 0.4rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  outline: 2px solid #fff;
}

body {
  margin: 0;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding-inline: 1rem;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  width: 100%;
}

header h1 {
  color: #f4f4f4;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
header nav > li {
  list-style-type: none;
}
header nav li > a {
  text-decoration: none;
  color: #f4f4f4;
  font-weight: bold;
}

header nav li > a:hover {
  color: var(--primary-color);
}

.active {
  color: var(--secondary-color);
}

.hero {
  background-image: url("assets/hero_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3.5rem;
}

.products {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
}

.products .features {
  height: 100%;
  padding: 1rem;
  outline: 2px solid var(--primary-color);
  border-radius: 8px;
  text-align: center;
}

.products .features > img {
  width: 200px;
  margin: auto;
}

.products .features > h2 {
  font-size: small;
}

footer {
  background-color: var(--primary-color);
  color: #f4f4f4;
  padding-inline: 1rem;
  text-align: center;
}

footer > * {
  text-align: left;
  margin: 0;
}

footer form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
}

footer p {
  text-align: center;
  font-size: 15px;
}

footer .twitter {
  font-size: 35px;
  transition: font-size 0.3s ease-in-out;
}

footer .twitter:hover {
  font-size: 40px;
}

@media (min-width: 480px) {
  .hero .product-description {
    width: 40%;
  }
  .products {
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
  }

  footer form textarea {
    width: 40%;
  }
}
